.get_started_BG {
    background-image: url('/assets/images/home-register.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.get_started_title {
    position: absolute;
    width: 17.07vw;
    height: 2rem;
    font-family: 'Rossanova Personal Use';
    font-style: normal;
    font-weight: 300;
    font-size: 2.188rem;
    line-height: 103.3%;
    text-align: center;
    text-transform: uppercase;
    color: #F3AA93;
}

.get_started_text p {
    position: absolute;
    width: 16.8vw;
    height: 7.5vh;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 23px;
    text-align: center;
    color: #D1C7BB;
    margin: 3rem 0 0 0;

}

.subscribeButton {
    box-sizing: border-box;
    width: 266px;
    height: 38px;
    margin-top: 19rem;
    margin-left: 2.5rem;
    /* cursor: pointer; */

}

.subscribeButton button {
    width: 266px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    border-radius: 36px;
    padding: 0.3rem;
    color: #F3AA93;
    border: 1px solid #FFFEFE;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .get_started_BG {
        height: 70.94101876675603vh;
    }

    .get_started_title {
        position: relative;
        width: 347px;
        height: 32px;
        left: 12px;
        margin: 0 0;
        font-size: 35px;
    }

    .get_started_text p {
        position: absolute;
        width: 342px;
        height: 73px;
        left: 23px;
        font-size: 14px;
    }

    .subscribeButton {
        position: absolute;
        width: 254px;
        height: 38px;
        left: 67px;
        margin-top: 20rem;
    }
}

@media only screen and (max-width: 1600px) {
    .get_started_title {
        width: 18.7rem;
    }

    .get_started_text p {
        width: 19rem;
    }
    .subscribeButton{
        margin-left: 1rem;
    }
}