.heroBg {
    background-image: url('/assets/images/hero-BG-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.heroTitle {
    position: absolute;
    height: 120px;
    width: 954px;
    font-family: 'Rossanova Personal Use';
    font-style: normal;
    font-weight: 300;
    font-size: 66px;
    line-height: 103.3%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .heroTitle {
        position: absolute;
        width: 297px;
        height: 144px;
        left: 46px;
        font-size: 37px;
    }
    .heroBg{
        height: 61.52815013404826vh;
    }
}