.leftCol {
    background-image: url('/assets/images/rarified-castle-experience.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
}

.scotchWhiskie h2 {
    font-family: 'Rossanova Personal Use';
    font-weight: 300;
    font-size: 66px;
    line-height: 103.3%;
    text-transform: uppercase;
    color: #F3AA93;
    text-align: left;
    margin: 8.125rem 8.25rem 0;
    width: 22.688rem;
}

.scotchWhiskie p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 149.4%;
    color: #D1C7BB;
    width: 20.6rem;
    margin: 2.5rem 8.23rem 9.188rem;
}

@media only screen and (max-width: 768px) {
    .leftCol {
        height: 52.27882037533512vh;
    }

    .scotchWhiskie {
        position: absolute;
        width: 375px;
        height: 252px;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 95%);
        margin: 0;
        top: 78rem;
    }

    .scotchWhiskie h2 {
        position: absolute;
        width: 220px;
        height: 107px;
        left: 36px;
        margin: 0;
        font-size: 2.313rem;
        top: 7.5rem;
    }

    .scotchWhiskie p {
        position: absolute;
        width: 324px;
        height: 109px;
        left: 36px;
        font-size: 19px;
        margin: 0;
        color: #fff !important;
        opacity: 1 !important;
        top: 16rem;
        text-transform: capitalize;
    }
}